body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 0;
}
h1 {
    font-weight: normal;
}
.email {
    display: flex;
    align-items: center;
}
.email::before {
    content: "\2709";
    margin-right: 8px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}